<h1>Add a Contact</h1>

<form action="/contacts" method = "post">
  <label for="name">Contact name</label>
  <input id="name" name="name" type="text">
  <label for="name">Contact's birthday month</label>
  <input id="birthday" name="birthday" type="text">
  <button type="submit" class="btn">Add Contact</button>
</form>
