<h1>All Details</h1>
<ul>

  <li>$contact.getPhone().get(0).getPhone()</li>
  <li>$contact.getEmail().get(0).getEmail()</li>
</ul>

<a href="/contacts">View Contacts List</a>
<a href="/contacts/new">Add New Contacts!</a>
